/*=================
    Sass Colors
==================*/
$black: #121212;
$green: #00D563;
$heading: #121212;
$text: #4B4B4B;
$heroBackground: #FAFAFA;


/*=================
    Custom Font
==================*/
@font-face {
    font-family: AvertaStd;    
    src: url('../fonts/AvertaStd-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: AvertaStd;    
    src: url('../fonts/AvertaStd-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


/*=================
    General
==================*/
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body {
    font-family: AvertaStd, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    background: #fff;
    
    &.stretched {
        height: 400vh;
    }
}

.grid {
    display: block;
    width: calc(100% - 60px);
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
        width: calc(100% - 80px);
    }
    @media (min-width: 992px) {
        width: calc(100% - 160px);
    }    
}

/*=================
    Wrappers
==================*/
.hero-wrapper {
    color: black;
    background: $heroBackground;    
    font-size: 1.3rem;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-flow: row wrap;
    }

    &__column {
        flex: 0 0 100%;
        &--image {
            height: 0;
            padding-bottom: 80%;
            background-image: url('./../images/hero.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &--text {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 60px 0;
            min-height: 45vw;
        }
        
        @media (min-width: 992px) {
            flex: 0 0 50%;            
            &--image {
                height: auto;
                padding-bottom: 0;
            }
            &--text {
                padding: 50px 80px 50px 60px;               
            }
        }
        @media (min-width: 1490px) {
            &--text {
                padding: 50px calc((100vw - 1170px)/2) 50px 60px;               
            }
        }
    }

    &__article {
        @media (min-width: 992px) {
            width: 100%;
            margin: 0;
        }
    }

    &__heading {
        color: $heading;
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.3;
        margin: 0 0 30px 0;
        &__highlight {
            display: block;
            color: $green;                    
        }
    }

    &__subheading {
        color: $heading;
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0 0 20px 0;
    }

    &__paragraph {
        color: $text;
        font-size: 1.4rem;
        line-height: 1.7;
        margin: 0 0 15px 0;
        &:last-of-type {
            margin: 0 0 30px 0;
        }        
    }


    @media (min-width: 1300px) {
        &__heading { margin: 0 0 40px 0; line-height: 1.5; }
        &__subheading { margin: 0 0 20px 0; }
        &__paragraph { 
            margin: 0 0 20px 0;
            &:last-of-type {
                margin: 0 0 59px 0;
            }
        }
    }
}

.counters-wrapper {
    padding: 50px 0;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
    }

    @media(min-width: 992px) {
        padding: 80px 0;
    }
}

.article-wrapper {
    margin-bottom: 90px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-flow: row wrap;
    }
    &__article {
        flex: 0 0 calc(100% - 305px);
         
        @media (min-width: 992px) {
            padding-right: 70px;
        }    
        @media (min-width: 1170px) {
            padding-right: 140px;
        }
    }
    &__sidebar {
        flex: 0 0 305px;
    }

    @media (max-width: 992px) {
        &__article {
            flex: 0 0 100%;
            order: 2;
            padding: 0;
        }
        &__sidebar {
            flex: 0 0 100%;
            order: 1;
            margin: 0 0 50px;
        }
    }
}

.more-space {
    margin-bottom: 80px;
    &__content {
        text-align: center;
        h3 {
            font-size: 2.8rem;
            line-height: 1.3;
            margin: 0 0 20px 0;
        }
    }
}

/*=================
    Components
==================*/
.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 48px;
    padding: 0 43px;
    font-family: AvertaStd;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    border: 0;
    background: $green;
    border-radius: 100px;
    cursor: pointer;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        opacity: .4;
        will-change: opacity;
        transition: .3s opacity ease;
        box-shadow: 0 9px 32px 0 rgba(0,0,0,.3);
        border-radius: 100px;
    }

    &:hover::after {
        opacity: 1;
    }
}

.counters {
    counter-reset: section;
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        padding: 50px 0;
    }

    &__heading {
        flex: 0 0 100%;
        position: relative;
        display: block;
        color: $heading;
        font-size: 3.6rem;
        font-weight: bold;
        margin: 0 0 30px 0;

        &__highlight {
            display: inline;
            color: $green;
            white-space: nowrap;
        }

        &::before {
            position: absolute;
            top: -40px;
            left: -20px;
            counter-increment: section;
            content: counters(section, ".", decimal-leading-zero);
            color: #fafafa;
            font-size: 10rem;
            font-weight: bold;
            line-height: 1;
            z-index: -1;
        }
    }
    &__paragraph {
        flex: 0 0 100%;
        max-width: 650px;
        color: $text;
        font-size: 1.6rem;
        line-height: 1.75;
    }

    @media (min-width: 992px) {
        &__heading__highlight::before { 
            top: -30px;
            left: -90px;
        }
    }
    @media (min-width: 992px) {
        &__heading { 
            flex: 0 0 400px;
            margin: 0;
            &__highlight {
                display: block;
            }
            &::before {
                top: -30px;
                left: -60px;
            }
        }
        &__paragraph { flex: 0 0 calc(100% - 440px); }
    }
}

.article {
    h2 {
        color: #000;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.5;
        margin: 0 0 30px 0;
    }
    p {
        color: $text;
        font-size: 1.6rem;
        line-height: 1.8;
        margin: 0 0 30px 0;
        &:last-child {
            margin: 0;
        }
    }
    a {
        color: $green;
        text-decoration: none;
    }
}

.article-navigation {

    ul {
        display: none;
        list-style: none;
    }
    &__item { 
        margin: 0 0 20px 0;
        &:last-child {
            margin: 0;
        }

        &--heading * {
            color: #000;
            font-size: 2rem;
            font-weight: bold;        
            line-height: 1.5;
            margin: 0 0 30px 0;    
        }
     
        a {
            color: $heading;
            font-size: 1.4rem;
            font-weight: normal;
            text-decoration: none;
            line-height: 1.7;

            &.current {
                color: $green;
                font-weight: bold;
            }
        }
    }

    &__mobile {
        display: block;
        font-family: AvertaStd, Helvetica, Arial, sans-serif;
        font-size: 1.4rem;
        width: 100%;
        height: 46px;
        border: 1px solid #00D563;
        border-radius: 30px;        
        padding: 0 45px 0 25px;
        background-image: url(../images/arrow-down.svg);
        background-size: 12px 12px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: calc(100% - 20px) 50%;
        -moz-appearance: none; 
        -webkit-appearance: none; 
        appearance: none;

        &:focus {
            outline: none;
        }
    }

    @media (min-width: 992px) {
        position: sticky;
        top: 30px;
        padding: 50px 45px;
        border: 1px solid #F0F0F0;

        ul { display: block; }
        &__mobile { display: none; }

    }
}